.icon-menu,.icon-heart,.icon-cancel-circle,.icon-checkbox-checked,.icon-checkbox-unchecked {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(sprites.png);
	background-repeat: no-repeat;
    position: relative;
    top: 2px;
}
.icon-menu {
	background-position: 0 0;
}
.icon-heart {
	background-position: -32px 0;
}
.icon-cancel-circle {
	background-position: -64px 0;
}
.icon-checkbox-checked {
	background-position: -96px 0;
}
.icon-checkbox-unchecked {
	background-position: -128px 0;
}
